

.inputSearch{
    width: 80%!important;
    border: 1px solid rgb(95, 91, 91);
    border-radius: 5px;
    padding: 10px;
}

.background{
    background-color: #F8F8F8;
}

.content{
    max-width: 900px!important;
    padding: 40px 0px;
    margin: 0 auto!important;
}

.estilosTitulos{
    padding: 36px!important;
    border: none;
    padding: 20px;
}

.btnColor{
    background: #FB637E 0% 0% no-repeat padding-box!important;
    border: none;
    color: white;
    padding: 11px;
    border-radius: 8px;
    width: 17%;
}

.lojista{
    background: var(--rosa) 0% 0% no-repeat padding-box;
    background: #FB637E 0% 0% no-repeat padding-box;
    padding: 5px;
    color: white;
    opacity: 1;
}

.svgLoja{
    margin: 17px;
    padding: 20px;
    background-color: #e7e5ed;
    border-radius: 50px;
}


/* .paddingNav{
    padding: 0px 120px!important;
} */