

.inputSearch{
    width: 80%!important;
    border: 1px solid rgb(95, 91, 91);
    border-radius: 5px;
    padding: 10px;
}

.background{
    background-color: #F8F8F8;
}

.content{
    max-width: 900px!important;
    padding: 40px 0px 0px 0px;
    margin: 0 auto!important;
}

.collapse{
    max-width: 900px!important; 
    margin: 0 auto!important;
}

.btnColor{
    background: #FB637E 0% 0% no-repeat padding-box!important;
    border: none;
    color: white;
    padding: 11px;
    border-radius: 8px;
    width: 17%;
}

.lojista{
    background: var(--rosa) 0% 0% no-repeat padding-box;
    background: #FB637E 0% 0% no-repeat padding-box;
    padding: 5px;
    color: white;
    opacity: 1;
}

.svgLoja{
    margin: 17px;
    padding: 20px;
    background-color: #e7e5ed;
    border-radius: 50px;
}

.iconCircle{
    padding: 20px;
    background-color: #00000029;
    border-radius: 50%;
}

.navPadding{
    margin: 0px 150px;
}

.mxNav{
    margin: 0px 100px;
}

.pa{
    padding: 30px;
}


.iconNone{

    display: none;
}

.iconInput{
    position: absolute;
    z-index: 5;
    margin-top: 20px;
    margin-left: 15px;
}

@media (max-width: 500px){

    .lojas, .logout, .tituloLoja{
        display: none;
    }

    .estilosTitulos{
        padding: 0;
    }

    .acordionBodyMb{
        box-sizing: content-box !important;
    }

    .cardMb{
        margin: 0!important;
        padding: 20px;
        border: 1px solid #cdcdcd;
    }

    .marcaLoja{
        width: 100%;
    }

    .textStart{
        text-align:unset;
    }

    .svgLoja{
        margin: 0;
        padding: 10px;
    }

    .divW{
        width: 50%;
    }

    .iconCircle{
        padding: 5px;
        border-radius: 50%;
    }

    .navPadding{
        padding: 0;
    }

    .mxNav{
        margin: 0;
    }

    .backMobile{
        background-color: #f0efef!important;
    }

    .backMobileWhi{
        background-color: #F8F8F8!important;
    }

    .backMobileCard{
        background-color: #f0efef!important;
    }
    .content{
        padding: 0;
    }
}